.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.disppear {
    animation: vanish 1s ease forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
        animation-delay: 1s;
    }
}